*
{
    margin: 10px;
    color:black;
}

button
{
    font-family: Verdana;
    padding: 20px;
    border-radius: 20px;
}

button:hover
{
    transition: 0.5s;
    background-color: rgb(177, 177, 177);
}